body{
	background-color:#434343;
	font-weight:bold;
}

/*-------------------------Le 1er bloc considéré comme un header ---------------*/
/*---------on crée une boite USER, dans lequel 3 boites : avatar ,Nom, Score -----------*/
header{
	background-color:#37BBD2;
	color:white;
	height:90px;
	line-height:90px;
}

#User{ 
	display:flex;
	position:relative;
	padding-left:20px;
	padding-top:15px;
	vertical-align:middle;
}
#avatar{
	width:60px;
	height:60px;
	margin-right:15px;
	
	border-radius:50px;
}
#Nom{
	display:flex;
	position:absolute;
	vertical-align:middle;
	padding-left:20px;
}
#Score{
	display:flex;
	position:absolute;
	right:20px;
	vertical-align:middle;
	padding-right:20px;
}

main{
	height:90%;
}

.card{
	height:285px;
	position:relative;
	background-color:#F5F5F5;
}

.card_content{
	display:block;
	max-height:150px;
}

.card_content_image{
	display:block;
	max-height:150px;
	padding:auto;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:10px;
}
.card_footer{
	height:60px;
	padding-left:10px;
	position:absolute;
	bottom:0;left:0;right:0;
	background-color:rgba(50,50,50,0.3);
	line-height:60px;
}

a{
	display:block;
	width:100%;
	color:white;
	text-decoration:none;
}

span{
	float:right;
	font-size:15px;
	padding-right:15px;
}

.i{
	line-height:60px;
}


.col-xs-12, .col-md-4, .col-xs-6{
	padding-right: 5px;
	padding-left: 5px;
}

.row{
	margin-left:-5px;
	margin-right:-5px;
	
}


/*------------------------- taille des blocs ---------------------------------------*/
#leaderboard, #geography{
   	height:580px;
}

#leaderboard .card_content_image, #geography .card_content_image{
	max-height:350px;
	padding-top:35%;
}

#entertainment .card_content_image, #sports .card_content_image, #food .card_content_image, #generalknowledge .card_content_image, #science .card_content_image, #tv .card_content_image, #music .card_content_image, #profile .card_content_image{
	max-height:150px;
	padding-top:25%;
}

#history .card_content_image{
	max-height:170px;
	padding-top:20%;
}


/*----------------------------Couleurs des blocs ------------------------------------*/

/*------------------ bloc violet -----------------*/
#sports, #tv{
	background-color:#CBB4F3;
}

#sports .card_footer, #tv .card_footer{
	background-color:#AB71ED;
}

/*------------------ bloc rouge -------------------*/
#entertainment, #geography{
	background-color:#FA8A7E;
}

#entertainment .card_footer, #geography .card_footer{
	background-color:#F8504D;
}


/*------------------ bloc vert ----------------------*/
#food, #science{
	background-color: #B7F6C9;
}

#food .card_footer, #science .card_footer{
	background-color: #34EBB5;
	
}
#food a, #science a{
	color:#655F61;
}

/*------------------- bloc bleu ----------------------*/
#history, #music{
	background-color:#7EFEFF;
}
#history .card_footer, #music .card_footer{
	background-color:#3EA8F6;
}

/*-------------------- bloc jaune ----------------------*/
#generalknowledge{
	background-color:#FBFF86;
}
#generalknowledge .card_footer{
	background-color:#FBED1A;
}

#generalknowledge a{
	color:#655F61;
}